@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    color: navy;
}
header {
    @include flexCenter();
    font-family: $primaryFont;
    background: $mistBlue;   
    color: $textColor;
    button{
       background: $primaryBtn; 
    }
}

body {
    background: $mistBlue;
    font-family: $primaryFont;
}

