$mistBlue: #e0e0e0;
$primaryBtn: #f6f6f6;
$textColor: #6194bc;
$primaryFont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans,
  Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

// $backgroundImage: url('../../images/cloudyBackground.png');
