$mistBlue: rgb(158, 231, 255);
$primaryBtn : blue;
$textColor: navy;
$primaryFont: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 

// $backgroundImage: url('../../images/cloudyBackground.png');